@using HumanResources_Domain.Enums

@model IEnumerable<LeaveVM>;

@{
    Layout = "_LayoutEmployee";
}

<body>


    <div class="content container-fluid">
        <div class="col-xl-12 col-sm-12 col-12">
            <div class="breadcrumb-path mb-4 mt-4">
                <ul class="breadcrumb">
                    <h3>Employees Request</h3>
                </ul>
            </div>
        </div>

        <div>
            <ul></ul>
        </div>

        <div class="col-xl-12 col-sm-12 col-12 mb-4">
            <div class="head-link-set">
                <ul>
                    <li><a href="Advance">Advances</a></li>
                    <li><a href="Expense">Expenses</a></li>
                    <li><a class="active" href="Leave">Leaves</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-12 col-sm-12 col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x=>x.FullName)</th>
                                <th>@Html.DisplayNameFor(x=>x.LeaveTypeName)</th>
                                <th>@Html.DisplayNameFor(x=>x.LeaveDay)</th>
                                <th>@Html.DisplayNameFor(x=>x.StartDate)</th>
                                <th>@Html.DisplayNameFor(x=>x.EndDate)</th>
                                <th>@Html.DisplayNameFor(x=>x.ApproveStatus)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <input type="hidden" asp-for="@item.Id" />
                                    <td><label>@item.FullName</label> </td>
                                    <td><label>@item.LeaveTypeName </label></td>
                                    <td><label>@item.LeaveDay </label></td>
                                    <td><label>@item.StartDate </label></td>
                                    <td><label>@item.EndDate</label></td>
                                    <td><label>@item.ApproveStatus</label></td>
                                    <td>
                                        @if (item.ApproveStatus == ApproveStatus.InApproval)
                                        {
                                            <a class="" data-bs-toggle="modal" data-bs-target="#approve" data-bs-whatever="@item.Id">
                                                <button class="btn btn-warning">Approve<i data-feather="edit"></i></button>
                                            </a>
                                            <a class="" data-bs-toggle="modal" data-bs-target="#reject" data-bs-whatever="@item.Id">
                                                <button class="btn btn-danger">Reject<i data-feather="edit"></i></button>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>
<div class="customize_popup">
    <div class="modal fade"
         id="approve"
         tabindex="-1"
         aria-labelledby="staticBackdropLabels1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-centers border-0">
                    <h5 class="modal-title text-center" id="staticBackdropLabels1">
                        Are You Sure Approve to Leave?
                    </h5>
                </div>
                <div class="modal-footer text-centers">

                    <form asp-controller="EmployeeRequest" asp-action="AcceptLeave">
                        <input id="approveLeavesInput" type="hidden" name="id" />
                        <button id="Approve" type="submit" class="btn btn-primary">Approve</button>
                        <a asp-controller="EmployeeRequest" asp-action="Leave" type="button" class="btn btn-secondary btn-lg">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="customize_popup">
    <div class="modal fade"
         id="reject"
         tabindex="-1"
         aria-labelledby="staticBackdropLabels1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-centers border-0">
                    <h5 class="modal-title text-center" id="staticBackdropLabels1">
                        Are You Sure Reject to Leave?
                    </h5>
                </div>
                <div class="modal-footer text-centers">
                    <form asp-controller="EmployeeRequest" asp-action="RejectLeave">
                        <input id="rejectLeavesInput" type="hidden" name="id" />
                        <button id="approve" type="submit" class="btn btn-primary">Reject</button>
                        <a asp-controller="EmployeeRequest" asp-action="Leave" type="button" class="btn btn-secondary btn-lg">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var exampleModal = document.getElementById('approve')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            document.getElementById("approveLeavesInput").value = recipient;
        })
    </script>

    <script>
        var exampleModal = document.getElementById('reject')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            document.getElementById("rejectLeavesInput").value = recipient;
        })
    </script>
    <script>

        $(function () {

            $("#example1").DataTable({

                "responsive": true, "lengthChange": false, "autoWidth": false,

                buttons: [
                    {
                        extend: 'excel',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        footer: false,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }

                    }
                ]

            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $('#example2').DataTable({

                "paging": true,

                "lengthChange": false,

                "searching": false,

                "ordering": true,

                "info": true,

                "autoWidth": false,

                "responsive": true,

            });

        });

    </script>
}